@import "tailwindcss";

@theme {
  /* 1. Define the Animation Utilities */
  --animate-scroll-down: scroll-down 20s linear infinite;
  --animate-scroll-up: scroll-up 20s linear infinite;
  --animate-glitch-1: glitch-1 3s infinite linear alternate-reverse;
  --animate-glitch-2: glitch-2 3s infinite linear alternate-reverse;
  --animate-scan-line: scan-line 2s ease-in-out infinite;
  --animate-shine: shine 1s ease-in-out;

  /* 2. Define the Keyframes */
  @keyframes scroll-down {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
  }

  @keyframes scroll-up {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
  }

  @keyframes scan-line {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }

  @keyframes shine {
    100% { left: 125%; }
  }

  @keyframes glitch-1 {
    0% { clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%); }
    20% { clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%); }
    40% { clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%); }
    60% { clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%); }
    80% { clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
    100% { clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  }

  @keyframes glitch-2 {
    0% { clip-path: polygon(0 12%, 100% 12%, 100% 12%, 0 12%); }
    20% { clip-path: polygon(0 2%, 100% 2%, 100% 35%, 0 35%); }
    40% { clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%); }
    60% { clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
    80% { clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
    100% { clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  }
}